# Порт запуска приложения
BIND_PORT=5005
BIND_IP=127.0.0.1

# Путь к базе данных
DATABASE_PATH=./data/sli_dashboard.db

# Секретный ключ Flask (замените на случайную строку)
SECRET_KEY=zabbix_sli_secret_key_8899_prod
